{% load static %}
<link rel="stylesheet" href="http://127.0.0.1:8000/images/enigma.css">
<main class="page-content">
  <div class="card" style="vertical-align: middle">
    <div class="content">
      <h2 class="title">Enigma</h2>
      <p class="copy">Test your abilities on an dark ambiance thriller game with API HTTP requests and SQL data manipulation on Django Framework.</p>
      <button type="button" class="btn btn-dark" onclick="relocate_home()">Click here to join the adventure</button>
    </div>
  </div>
</main>


<script>
function relocate_home()
{
     location.href = "http://127.0.0.1:8000/Enigma/home";
}
</script>