<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8000/images/enigma2.css">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap" rel="stylesheet">
    <!--    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap"
          rel="stylesheet">
</head>

<center>
    <div id="main">
        <div class="container">
            <div class="title">
                <h1 style="font-family: 'Playfair Display', serif;">Select one adventure of your choice by clicking on a
                    card</h1>
            </div>
            <div class="justify-content-center" style="vertical-align: middle">
                <div class="col-md-4">
                    <div class="card text-center">
                        <img src="http://127.0.0.1:8000/images/dark_city.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: 500; text-decoration: underline;">Enigma</h5>
                            <p class="card-text">Test your abilities on an dark ambiance thriller game with API HTTP
                                requests and SQL data manipulation on Django Framework.</p>
                            <p><a href=" home/" class="text-dark" style="font-weight: 800;">Join the adventure</a></p>
                        </div>
                    </div>
                </div>
                <!--            <div class="col-md-4">-->
                <!--                <div class="card text-center">-->
                <!--                    <img src="" class="card-img-top">-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">TEST</h5>-->
                <!--                        <p class="card-text">test</p>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--            <div class="col-md-4">-->
                <!--                <div class="card text-center">-->
                <!--                    <img src="" class="card-img-top">-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">TEST</h5>-->
                <!--                        <p class="card-text">test</p>-->
                <!--                    </div>-->
            </div>
        </div>
<!--    </div>-->
<!--        <div class="wave"></div>-->
</center>
<script>
function relocate_home()
{
     location.href = "http://127.0.0.1:8000/enigma/home";
}






</script>